.omx-overlay {
  position: absolute; /* Sit on top of the page content */
  //display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.omx-overlay-text {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.wrapper-scroller {
  overflow-x: auto;
  width: 100%;
}

.spase-between {
  span:not(:last-child) {
    margin-right: 10px;
  }
}

.form-control-sm {
  .ts-control {
    padding: 0 0.75rem;
  }
}

.ts-control>input {
  min-width: 1rem;
}

.wrap-words {
  white-space: break-spaces !important;
}

.modal-footer>.modal-buttons>* {
  margin: calc(var(--bs-modal-footer-gap)*.5)
}
