.jstree-anchor {
  /*enable wrapping*/
  white-space : normal !important;
  /*ensure lower nodes move down*/
  height : auto !important;
  /*offset icon width*/
  padding-right : 24px;
}

.jstree-default .jstree-wholerow-clicked {
  background: #00bac7 !important;
}

.jstree-default .jstree-wholerow-hovered:not(.jstree-wholerow-clicked) {
  background: #d1d2d3 !important;
}

.jstree-default a.jstree-clicked, a.jstree-hovered {
  color: #fff !important;
}